.App {
  padding: 50px;
}
.main {
  width: fit-content;
  padding: 50px;
  margin: auto;
  border: 5px solid rgb(9, 9, 104);
}
img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
}

#Name {
  color: rgb(16, 150, 233);
  font-size: 50px;
  font-weight: bold;
}
.Title {
  color: gray;
  font-weight: bold;
}
.data {
  font-size: 20px;
  font-weight: bold;
}
