.App {
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
}
.header {
  color: blue;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.main_calc {
  margin: 20px;
  text-align: center;
  width: fit-content;
  border: 2px solid black;
  padding: 10px;
  background-color: lightblue;
}
.btn {
  background-color: lightseagreen;
  color: white;
}
.mid {
  padding: 5px 19px;
  margin: 5px;
}

.side {
  margin: 5px;
  padding: 5px 10px;
}
.input_box {
  margin: 15px;
  padding: 12px;
}

.btn:hover {
  background-color: rgb(5, 94, 90);
  border: 2px solid black;
}
